In [1]:
import pandas as pd

orders_df = pd.read_csv("orders.csv")
users_df = pd.read_json("users.json")
restaurants_df = pd.read_csv("restaurants.csv")

print(orders_df.head())

orders_with_users = pd.merge(
    orders_df,
    users_df,
    on='user_id',
    how='left'
)

merged_df = pd.merge(
    orders_with_users,
    restaurants_df,
    on='restaurant_id',
    how='left'
)

print(merged_df.columns)
print(merged_df.head())

merged_df.to_csv("final_food_delivery_dataset.csv", index=False)

   order_id  user_id  restaurant_id  order_date  total_amount  \
0         1     2508            450  18-02-2023        842.97
1         2     2693            309  18-01-2023        546.68
2         3     2084            107  15-07-2023        163.93
3         4      319            224  04-10-2023       1155.97
4         5     1064            293  25-12-2023       1321.91

                  restaurant_name
0               New Foods Chinese
1  Ruchi Curry House Multicuisine
2           Spice Kitchen Punjabi
3          Darbar Kitchen Non-Veg
4       Royal Eatery South Indian
Index(['order_id', 'user_id', 'restaurant_id', 'order_date', 'total_amount',
       'restaurant_name_x', 'name', 'city', 'membership', 'restaurant_name_y',
       'cuisine', 'rating'],
      dtype='object')
   order_id  user_id  restaurant_id  order_date  total_amount  \
0         1     2508            450  18-02-2023        842.97
1         2     2693            309  18-01-2023        546.68
2         3     2084            107  15-07-2023        163.93
3         4      319            224  04-10-2023       1155.97
4         5     1064            293  25-12-2023       1321.91

                restaurant_name_x       name       city membership  \
0               New Foods Chinese  User_2508  Hyderabad    Regular
1  Ruchi Curry House Multicuisine  User_2693       Pune    Regular
2           Spice Kitchen Punjabi  User_2084    Chennai       Gold
3          Darbar Kitchen Non-Veg   User_319  Bangalore       Gold
4       Royal Eatery South Indian  User_1064       Pune    Regular

  restaurant_name_y  cuisine  rating
0    Restaurant_450  Mexican     3.2
1    Restaurant_309   Indian     4.5
2    Restaurant_107  Mexican     4.0
3    Restaurant_224  Chinese     4.8
4    Restaurant_293  Italian     3.0

In [3]:
total_orders = len(merged_df)
gold_orders = merged_df[merged_df['membership'] == 'Gold']
count_gold = len(gold_orders)

percentage = (count_gold / total_orders) * 100
print(round(percentage))

50

In [4]:
grouped_data = merged_df.groupby(['membership', 'cuisine'])
revenue_stats = grouped_data['total_amount'].sum()

print(revenue_stats.sort_values(ascending=False))

membership  cuisine
Regular     Mexican    1072943.30
            Italian    1018424.75
Gold        Mexican    1012559.79
            Italian    1005779.05
Regular     Indian      992100.27
Gold        Indian      979312.31
            Chinese     977713.74
Regular     Chinese     952790.91
Name: total_amount, dtype: float64

In [5]:
merged_df['order_date'] = pd.to_datetime(merged_df['order_date'], dayfirst=True)
merged_df['quarter'] = merged_df['order_date'].dt.quarter

quarter_revenue = merged_df.groupby('quarter')['total_amount'].sum()
print(quarter_revenue.sort_values(ascending=False))

quarter
3    2037385.10
4    2018263.66
1    2010626.64
2    1945348.72
Name: total_amount, dtype: float64

In [6]:
gold_members = merged_df[merged_df['membership'] == 'Gold']
print(len(gold_members))

4987

In [7]:
hyderabad_data = merged_df[merged_df['city'] == 'Hyderabad']
total = hyderabad_data['total_amount'].sum()

print(round(total))

1889367

In [8]:
distinct_users = merged_df['user_id'].nunique()
print(distinct_users)

2883

In [9]:
gold_data = merged_df[merged_df['membership'] == 'Gold']
average_val = gold_data['total_amount'].mean()

print(round(average_val, 2))

797.15

In [10]:
high_rating = merged_df[merged_df['rating'] >= 4.5]
print(len(high_rating))

3374

In [11]:
print(len(merged_df))

10000